body {
  background-color: powderblue;
}
form {
  border-radius: 1px;
  background: powderblue;
}
.button {
  height: 20px;
  width: 60px;
}
.addButton {
  height: 20px;
  width: 60px;
  background-color: green;
}

/* .search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
} */